@import 'nib'
@import 'mixin.styl'
@import 'btn.styl'

body
  font-family "Lucida Grande", Helvetica, Arial, sans-serif,"Meiryo UI"
  letter-spacing 0.02em
  color black
  background url(../img/main-bg.jpg) repeat-x

li
  margin-left 20px

.center
  text-align center

.pull-right
  float right

.hide
  hide()

.disp
  disp()

.berak
  break-word()

.clear
  clear()

hr.soften
  margin 5px 0 5px 0
  hrsoften()

.footer
  zuruiBoarderTop()
  padding 10px 0
  margin-top 10px

.footer p
  margin-bottom 0
